@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@font-face {
    font-family: "Bronzier";
    src: url(../fonts/Bronzier-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color0: #8D46EA;
    --color1: #6300E5;
    --color2: #4D00B3;
    --color3: #3E1F66;
    --color4: #2C0066;

    --fontTitle: "Ubuntu";
    --fontNormal: "Poppins";
    --fontLogo: Bronzier;
}

body{
    background-color: var(--color3);
    color: white;
}

.header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    margin-bottom: 3%;
}

.header a{
    text-decoration: none;
}

.hamburguer{
    display: flex;
    flex-direction: column;
}

#line{
    width: 10px;
    margin: 1px;
    border: 1px solid var(--color4);
}

.logo{
    font-family: var(--fontLogo);
    font-size: 1.3em;
}

.navLinks{
    font-weight: bold;
    display: flex;
    gap: 8px;
    font-family: var(--fontTitle);
    transition: 3s;
}

.navLinks a:hover{
    border-bottom:1px solid #8D46EA;
}

.articlePurple{
    animation: toRight 2s;
    font-family: var(--fontTitle);
    width: 98%;
    background-color: var(--color0);
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    font-weight: bold;
}

.articleBlack{
    font-weight: bold;
    animation: toLeft 2s;
    font-family: var(--fontTitle);
    margin-left: 1%;
    width: 99%;
    background-color:black;
    border-radius: 20px 0px 0px 20px;
    padding: 10px 20px 10px 10px;
    display: grid;
    grid-template-areas: 
    'textCard imgCard'
    'createCard createCard';
    justify-content: space-around;
}

#textCard{
    grid-area: textCard;
}

#imgCard{
    grid-area: imgCard;
}

#createCard{
    grid-area: createCard;
    text-align: center;
}

.secondCard img{
    width: 80px;
}

.sectionProducts{
    margin-top: 2%;
    padding-left: 2%;
    display: flex;
    align-items: end;
    animation: img 3s;
}

.sectionProducts img{
    width: 98%;
    border-radius: 20px;
}

.sectionProducts p{
    margin-left: 1%;
    border-radius: 20px;
    text-indent: 10px;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: var(--fontNormal);
    position: absolute;
    background-image: linear-gradient(to right ,#00000054, transparent);
}

@keyframes toRight {
    from{
        width: 50%;
        background-color: transparent;
    }

    50%{
        transition: 2s;
    }

    100%{
        background-color: var(--color0);
        width: 98%;
    }
}

@keyframes toLeft {
    from{
        width: 60%;
        background-color: transparent;
    }

    100%{
        background-color: black;
        width: -100%;
    }
}

@keyframes img {
    from{
        display: run-in;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}
